.caption {
  margin-top: 2em;
  margin-bottom: 1em;
}
.caption .caption__info {
  display: flex;
}
.caption .caption__number {
  flex: 1 0 auto;
}
.caption .caption__name {
  font-weight: bold;
  margin-bottom: 0;
}
.caption .caption__meta {
  display: inline-block;
}
.caption .caption__previous,
.caption .caption__next {
  display: inline-flex;
  align-items: center;
}
.caption .caption__previous {
  margin-right: 0.5em;
}
.caption .caption__previous > svg {
  height: 1em;
  margin-right: 0.25em;
}
.caption .caption__next > svg {
  height: 1em;
  margin-left: 0.25em;
}