@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";

/* Handwave */
.waving-hand {
  animation: wave 0.4s alternate infinite;
  animation-timing-function: linear;
  transform-origin: 50% 100%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(12deg);
  }
}

/* Panels */
.panel .panel-header h6 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.panel .panel-header,
.panel .panel-footer {
  padding: 1em;
}
.panel .panel-body:last-child {
  padding: 0 1em 1em;
}

/* Avatar */
.avatar-wrapper {
  flex: 0 0 6em;
  width: 6em;
  margin-right: 1em;
}
.avatar-wrapper > object,
.avatar-wrapper > .avatar-object {
  position: relative;
  display: block;
  flex: 1 0 auto;
}

/* Lists */
.content ul,
.content ol {
  list-style: none outside none;
  padding-left: 1.5em;
}
.content ol {
  counter-reset: ol-counter;
}
.content li {
  list-style: none outside none;
}
.content ul:not(.step) > li:before {
  content: "â—";
  font-family: "Arial";
  float: left;
  width: 1.5em;
  margin-left: -1.5em;
  text-align: center;
}
.content ol > li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  float: left;
  width: 0.9rem;
  border-radius: 0.25em;
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: 0.7em;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-1.5rem + 0.5rem / 2);
  height: 0.9rem;
  line-height: 1rem;
  margin-top: calc((0.8rem * 1.5 - 1rem) / 2 + 0.05rem);
}
.content ol.inverted > li:before {
  background: black;
  color: white;
  font-weight: normal;
}
.content .bubble ol.inverted > li:before {
  background: white;
  color: #0084ff;
  font-weight: bold;
  border-radius: 100%;
}

/* Elements */
.content hr {
  border: none;
  height: 2px;
  background: lightgrey;
  margin: 2rem 0;
}
.content hr.small {
  height: 1px;
  margin: 1rem 0;
}
.content hr.compact {
  height: 1px;
  margin: 0;
}
.content ol,
.content ul {
  margin: 0.25rem 0 0.5rem 0rem;
}
.content ol {
  list-style: outside decimal;
}
.content ul {
  list-style: outside disc;
}
.content ol li,
.content ul li {
  margin-bottom: 0.25rem;
  margin-top: 0;
}
.content ol li:last-child,
.content ul li:last-child {
  margin-bottom: 0;
}
.content ol.compact,
.content ol.compact li,
.content ul.compact,
.content ul.compact li {
  margin: 0;
}
.content p {
  margin-bottom: 0.25rem;
}
.content p:last-child {
  margin-bottom: 0;
}
.content img {
  max-width: 100%;
}
.content blockquote {
  border-left: 0.1rem solid #dadee4;
  margin-left: 0;
  padding: 0 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.content pre {
  padding: 0.5em;
  margin: 0.25rem 0;
}
.content pre:first-child {
  margin-top: 0;
}
.content pre:last-child {
  margin-bottom: 0;
}
.content pre code {
  display: block;
  padding: 0;
  background: none;
  font-size: 85%;
  line-height: 1.4;
  font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  color: inherit;
}
.content :not(pre) > code {
  font-size: 85%;
  line-height: 1.25;
  border-radius: 0.1rem;
  padding: 0.1rem 0.2rem;
  background: #fcf2f2;
  color: #d73e48;
}
.content a:hover code {
  text-decoration: underline;
}

/* Fullheight hero */
.hero.hero-fh {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main title */
.main-title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  line-height: 1.125em;
  margin: 1em 0;
}
.main-title .what-if {
  font-weight: 300;
}
.main-title .thank-you {
  font-weight: 900;
}

/* Hint */
.hint {
  position: absolute;
  right: 1em;
  bottom: 1em;
  cursor: pointer;
  transition: all 0.2s linear;
}
.hint:hover {
  color: black;
}

/* Avatars */
.avatars-wrapper {
  display: flex;
  justify-content: center;
}
.avatars-wrapper .avatar-wrapper {
  width: 3em;
  flex: 0 0 3em;
}
.avatars-wrapper .avatar-wrapper:last-child {
  margin: 0;
}

/* Bonusly */
.about-bonusly .panel {
  background-color: white;
  color: black;
}

/* Today */
.today {
  position: relative;
  margin: 1em 0;
  text-align: center;
  z-index: - 1;
}
.today:before {
  position: absolute;
  top: 50%;
  height: 1px;
  content: "";
  display: block;
  width: 100%;
  left: 0;
  background: #eeeeee;
  z-index: -1;
}
.today > span {
  background: white;
  padding: 0 0.5em;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
}

/* Bonusly */
.bonusly-mockup {
  padding: 1em;
  background: linear-gradient(#33CC66 33%, #fafafa 33%);
  margin-bottom: 1em;
  border-radius: 4px;
}

.bonusly-message-input,
.bonusly-panel {
  background: white;
  border: 1px solid #eeeeee;
  padding: 1em;
  border-radius: 2px;
}

/* Bonusly button */
.bonusly-button {
  color: #33cc66;
  border-color: #33cc66;
  outline: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  appearance: none;
  font-weight: bold;
}
.bonusly-button:hover {
  color: #33CC66;
  background-color: rgba(20.00%, 80.00%, 40.00%, 0.10);
}
.bonusly-button--solid {
  color: white;
  background: #33CC66;
}
.bonusly-button--solid:hover {
  color: white;
  background: #33aa66;
}

/* Bonusly message */
.bonusly-message {
  background: white;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  margin-top: 1em;
}
.bonusly-message__header {
  padding: 1em 1em 0.5em;
}
.bonusly-message__header .points {
  border-radius: 100%;
  background: rgb(51, 204, 102);
  color: white;
  height: 2em;
  display: inline-block;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  margin-right: 0.5em;
}
.bonusly-message__header .recepient {
  height: 2em;
  width: 2em;
  display: inline-block;
  border-radius: 100%;
}
.bonusly-message__body {
  padding: 0.5em 1em;
}
.bonusly-message__header {
  display: flex;
}
.bonusly-message__header > div:first-child {
  flex: 1 1 auto;
  display: flex;
}
.bonusly-message__header > div:last-child {
  display: flex;
  align-items: center;
}
.bonusly-message__header > div:last-child small {
  margin-right: 0.5em;
}
.bonusly-message__actions ul {
  margin: 0.5em 1em;
  padding: 0;
  overflow: auto;
}
.bonusly-message__actions ul li {
  list-style: none outside none;
  float: left;
  margin-right: 1em;
}
.bonusly-message__actions ul li:before {
  display: none;
}
.bonusly-message__comment input {
  display: block;
  border: 0;
  border-top: 1px solid #e7e8e9;
  background: #f6f7f9;
  width: 100%;
  margin: 0;
  padding: 0.5em 1em;
  outline: none;
  color: #2E3538;
}

/* Bonusly message input */
.bonusly-message-input__actions {
  filter: grayscale(1);
}
.bonusly-message-input__actions button {
  margin-right: 0.5em;
  padding: 0.25em 0.5em;
}
.bonusly-message-input textarea {
  width: 100%;
  outline: none;
  appearance: none;
  border: none;
  padding: 1em 0;
}