@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";

/* Handwave */
.waving-hand {
  animation: wave 0.4s alternate infinite;
  animation-timing-function: linear;
  transform-origin: 50% 100%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(12deg);
  }
}

/* Title */
.title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  line-height: 1.125em;
}
.title .what-if {
  font-weight: 300;
}
.title .thank-you {
  font-weight: 900;
}

/* Panels */
.panel .panel-header h6 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.panel .panel-header,
.panel .panel-footer {
  padding: 1em;
}
.panel .panel-body:last-child {
  padding: 0 1em 1em;
}

/* Avatar */
.avatar-wrapper {
  flex: 0 0 6em;
  width: 6em;
  margin-right: 1em;
}
.avatar-wrapper > object,
.avatar-wrapper > .avatar-object {
  position: relative;
  display: block;
  flex: 1 0 auto;
}

/* Speech bubble */
.content .bubble {
  background: linear-gradient(to right, #0084ff, #00c4ff);
  color: white;
  border-radius: 0.25em 1em 1em 1em;
  padding: 0.4em 0.8em;
  margin-top: 0;
  display: inline-block;
  position: relative;
  overflow: visible;
  transition: opacity 0.2s ease-in-out;
}
.content .bubble.small {
  font-size: 0.85em;
}
.content .bubble.subtle {
  opacity: 0.5;
}
.content .bubble.subtle:hover {
  opacity: 1;
}
.content .bubble a {
  color: inherit;
}
.content p + div > .bubble:first-child {
  margin-top: -0.25rem;
}
.content .bubble + p,
.content .bubble + div {
  margin-top: 0.25rem;
}

/* Lists */
.content ul,
.content ol {
  list-style: none outside none;
  padding-left: 1.5em;
}
.content ol {
  counter-reset: ol-counter;
}
.content li {
  list-style: none outside none;
}
.content ul:not(.step) > li:before {
  content: "â—";
  font-family: "Arial";
  float: left;
  width: 1.5em;
  margin-left: -1.5em;
  text-align: center;
}
.content ol > li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  float: left;
  width: 0.9rem;
  border-radius: 0.25em;
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: 0.7em;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-1.5rem + 0.5rem / 2);
  height: 0.9rem;
  line-height: 1rem;
  margin-top: calc((0.8rem * 1.5 - 1rem) / 2 + 0.05rem);
}
.content ol.inverted > li:before {
  background: black;
  color: white;
  font-weight: normal;
}
.content .bubble ol.inverted > li:before {
  background: white;
  color: #0084ff;
  font-weight: bold;
  border-radius: 100%;
}