@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";

/* Handwave */
.waving-hand {
  animation: wave 0.4s alternate infinite;
  animation-timing-function: linear;
  transform-origin: 50% 100%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(12deg);
  }
}

/* Invitation Double */
.invitation-double {
  background-color: #208ca4;
  border-radius: 0.5em;
  color: white;
  padding: 5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  display: none;
}

/* Invitation Card */
.invitation-card {
  width: 75%;
  display: block;
  border-radius: 0.5em;
  margin: 0 auto 2em;
  transition: all 0.2s linear;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.125);
  cursor: pointer;
  display: none;
}
.invitation-card:hover {
  box-shadow: none;
}

/* Panels */
.panel .panel-header h6 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.panel .panel-header,
.panel .panel-footer {
  padding: 1em;
}
.panel .panel-body:last-child {
  padding: 0 1em 1em;
}

/* Avatar */
.avatar-wrapper {
  flex: 0 0 6em;
  width: 6em;
  margin-right: 1em;
}
.avatar-wrapper > object,
.avatar-wrapper > .avatar-object {
  position: relative;
  display: block;
  flex: 1 0 auto;
}

/* Speech bubble */
.content .bubble {
  background: linear-gradient(to right, #0084ff, #00c4ff);
  color: white;
  border-radius: 0.25em 1em 1em 1em;
  padding: 0.4em 0.8em;
  margin-top: 0;
  display: inline-block;
  position: relative;
  overflow: visible;
  transition: opacity 0.2s ease-in-out;
}
.content .bubble.small {
  font-size: 0.85em;
}
.content .bubble.subtle {
  opacity: 0.5;
}
.content .bubble.subtle:hover {
  opacity: 1;
}
.content .bubble a {
  color: inherit;
}
.content p + div > .bubble:first-child {
  margin-top: -0.25rem;
}
.content .bubble + p,
.content .bubble + div {
  margin-top: 0.25rem;
}