.content .message {
  overflow: hidden;
  margin: 0.5em 0;
  background: whitesmoke;
  padding: 0.5em;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.content .message:hover {
  box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.125);
  background: white;
}
.content .message img {
  display: block;
}
.content .message__avatar {
  border-radius: 5px;
  height: 32px;
  width: 32px;
}
.content .message__avatar--big {
  float: left;
  height: 64px;
  width: 64px;
}
.content .message__content {
  margin-left: calc(64px + 0.5em);
}
.content .message__author {
  font-weight: bold;
  margin-right: 0.5em;
}
.content .message__timestamp {
  color: lightgrey;
}
.content .message__replies {
  padding: 0.25em;
  border-radius: 5px;
  border: 1px solid lightgrey;
  overflow: visible;
  background: white;
  display: flex;
  flex-wrap: wrap;
}
.content .message__reply {
  border-radius: 5px;
  margin-right: 0.25em;
  position: relative;
  overflow: hidden;
}
.content .message__replies--meta {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  font-size: 0.9em;
}
.content .message__replies--count {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}
.content .message__replies--total {
  margin-right: 1em;
  font-weight: bold;
}
.content .message__replies--last {
  color: grey;
}
.content .message__reactions {
  display: flex;
  margin: 0.25em 0;
}
.content .message__reaction {
  margin-right: 0.25em;
  font-size: 0.9em;
  padding: 0 0.25em;
  border: 1px solid lightgray;
  border-radius: 4px;
  background: white;
  color: dimgrey;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.content .message__reaction:before {
  content: attr(data-before);
}
.content .message__reaction:after {
  content: attr(data-after);
}
.content .message__reaction:hover {
  border: 1px solid grey;
  background: whitesmoke;
}
.content .message__reaction:checked {
  border: 1px solid #1d9bd1;
  background: #e8f5fa;
  color: #1264a3;
}
.content .message__reaction:checked:after {
  content: attr(data-after-checked);
}
.content .message__text p:not(:last-child) {
  margin-bottom: 0.25rem;
}
.content .message__scene {
  line-height: 1.25em;
  opacity: 0.5;
  font-size: 0.85em;
  transition: all 0.2s linear;
}
.content .message__scene:hover {
  opacity: 1;
}
